Repository sandeep-shome/semantic-logs: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

chore: add start script
  package-lock.json
  package.json
Due: npx prettier --write

chore: add jest types
  pnpm-lock.yaml
Due: none

chore: add jest types
  package.json
Due: npx prettier --write

chore: add jest config for ts-jest
  jest.config.mjs
Due: none

feat: add universal types
  src/types/index.d.ts
Due: npx eslint --fix, npx prettier --write

feat: add input and options formatter function
  src/libs/utils.ts
Due: npx eslint --fix, npx prettier --write

feat: add log emitor function
  src/libs/logger.ts
Due: npx eslint --fix, npx prettier --write

feat: export logger class and types
  src/index.ts
Due: npx eslint --fix, npx prettier --write

chore: add jest in types property
  tsconfig.json
Due: npx prettier --write

fix: types file extention
  src/index.ts
Due: npx eslint --fix, npx prettier --write

test: add logger unit testing
  src/tests/log.test.ts
Due: npx eslint --fix, npx prettier --write

chore: remove source map
  tsup.config.js
Due: npx eslint --fix, npx prettier --write

refactor: clean up repeated code
  .commitlintrc.json
Due: npx prettier --write

refactor: clean up and structure code
  package.json
Due: npx prettier --write

refactor: remove pnpm lock file
  pnpm-lock.yaml
Due: none

chore: update wwith latest package
  package-lock.json
Due: npx prettier --write

chore: change versioning scripts
  package.json
Due: npx prettier --write

chore: add npm ignore file
  .npmignore
Due: none

fix: commitlint and lint-staged file name
  .npmignore
Due: none

chore: ignore .vscode dir
  .npmignore
Due: none

ci: add github release workflow
  .github/workflows/release.yml
Due: none

docs: refactor readme
  README.md
Due: npx prettier --write

test: add type in options
  src/tests/log.test.ts
Due: npx eslint --fix, npx prettier --write

ci: add pre push hook
  .husky/pre-push
Due: none

ci: remove test step from publish job
  .github/workflows/release.yml
Due: none

ci: remove test from publish job name
  .github/workflows/release.yml
Due: none

chore: remove default property from exports
  package.json
Due: npx prettier --write

chore: remove pre-push hook
  .husky/pre-push
Due: none

ci: add test step in publish job
  .github/workflows/release.yml
Due: none

ci: upgrade node verison to 20
  .github/workflows/release.yml
Due: none

fix: version script
  package.json
Due: npx prettier --write

chore: bump version @1.0.1
  CHANGELOG.md
  package.json
Due: npx prettier --write

fix: meta badge urls
  README.md
Due: npx prettier --write

chore: add release bagde
  README.md
Due: npx prettier --write

chore: bump version @1.0.2
  CHANGELOG.md
  package.json
Due: npx prettier --write

chore: exclude dist dir
  tsconfig.json
Due: npx prettier --write

chore: refactor deps tree
  package-lock.json
Due: npx prettier --write

feat: add dts in build
  tsup.config.js
Due: npx eslint --fix, npx prettier --write

feat: add types in exports
  package.json
Due: npx prettier --write

chore: bump version @1.1.0
  CHANGELOG.md
  package.json
Due: npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{ts,js}
  npx prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md, yaml})
